.footer {
  background-color: $primary;
  color: $white;
  padding: .5rem;
  text-align: center;

  &__sec {
    display: inline-block;
    vertical-align: top;

    h2 {
      font-weight: normal;
    }

    @mixin medium {
      max-width: 28%;
    }

    p, ul {
      text-align: justify;
      font-size: 1.35rem;
    }

    li {margin: 1rem auto;}

  }
  &__infobar {
    text-align: left;
    padding: 1rem;
    margin-bottom: 20px;

    img {
      vertical-align: middle;
      display: inline-block;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      width: 80%;
    }
  }

  input, textarea, button {
    padding: 10px 5px;
    outline: none;
    border-radius: 4px;
    border: none;
    width: 320px;
    display: block;
    margin: 20px 10px;
    box-shadow: -10px -10px 0 $blue;

    @mixin small {
      margin: 20px 40px;
    }
  }

  button {
    background-color: $accent;
    color: $primary;
    font-weight: bold;
  }
}
