.about {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: top;
  background-size: inherit;
  text-align: center;
  color: $purple;

  @mixin medium {
    padding: 8rem 1rem ;
    /* height: 80vh; */
  }

  &__text {
    background-color: $white;
    vertical-align: top;
    box-shadow: 0 4px 5px #00000040;

    @mixin medium {
      width: 54rem;
      padding: 4rem;
      max-width: 80%;
    }
  }

  h1 {
    text-align: center;
    font-weight: normal;
    margin-top: 2rem;

    @mixin medium {
      font-size: 6rem;
    }
  }

  p {
    margin: 2rem auto;
    text-align: justify;
  }

}


.bullet {

  h2 {
    margin: 1rem;
    font-size: 3rem;
  }
  p {
    margin-top: 0;
    font-size: 2rem;
    line-height: normal;
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid $purple;
  }
}