.footer {
  background-color: $blue;
  color: $purple;
  padding: .5rem;
  text-align: center;

  &__sec {
    display: inline-block;
    vertical-align: top;
    max-width: 80vw;

    h2 {
      font-weight: normal;
    }

    @mixin large {
      max-width: 28%;
    }

    p, ul {
      text-align: justify;
      font-size: 1.35rem;
    }

    li {margin: 1rem auto;}

  }
  &__infobar {
    text-align: left;
    padding: 1rem;
    margin-bottom: 20px;

    img {
      vertical-align: middle;
      display: inline-block;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;
      width: 80%;
    }
  }

  input, textarea, button {
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: none;
    width: 320px;
    display: block;
    margin: 20px 10px;
    box-shadow: -6px -6px 0 $purple;

    @mixin small {
      margin: 20px 40px;
    }

    @mixin large {
      margin-right: 20px;
      margin-left: 0;
    }
  }

  button {
    background-color: $accent;
    color: $black;
    font-weight: bold;

    &:hover {
      background-color: $blue;
      cursor: pointer;
      
    }
  }
}