.services {
  min-height: 110vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @mixin medium {
    min-height: auto;
    padding-bottom: 4rem;
  }

  &__panel {
    vertical-align: middle;
    margin: 4rem auto;

    @mixin medium {
      display: inline-block;
      width: 48%;
    }

    &-text {
      padding: 2rem;

      h2 {
        font-size: 4.8rem;
        span {
          font-weight: normal;
        }
      }
    }

    &-list {
      text-align: right;

      h1 {
        margin-right: 2rem;
        font-weight: normal;
      }
    }

    &-heading {
      text-align: center;
      h1 {
        font-size: 5rem;
        font-weight: normal;
        color: $purple;

        @mixin small {
          font-size: 6rem;
        }
      }
    }
  }

  &__products {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__tile {
      box-shadow: 0 4px 10px #00000040;
      border-radius: 4px;
      padding: 2rem;
      background-color: white;
      width: 80%;
      margin-bottom: 20px;

      @mixin medium {
        width: 40%;
      }

      @mixin large {
        width: 30%;
      }

      img {
        width: 100%;
      }

      h1 {
        margin: 0;
        margin-top: 20px;
        color: $purple;
        text-align: center;
      }
    }
  }

}

.big-tile {
  margin: 3rem 0;
  background-color: $blue;

  img {
    margin: 1rem;
    width: 95%;
    vertical-align: middle;

    @mixin medium {
      width: 45%;
      padding: 2rem;
    }
  }
  
  &__text {
    color: $purple;
    width: 95%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    
    @mixin medium {
      width: 50%;
      text-align: right;
    }
  }


}

#anim-boxes {
  width: 98%;
  display: none;
    
  @mixin medium {
    display: block;
  }
}